*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.header{
    height:50px;
    background-color: #efefef;
}

.under-header{
    height:120px;
    border-bottom: 1px solid #EFEFEF;
}

.menu-second{
    height: 79px;
}

.chair{
    height: 604px;
    background-color: #F13C6E;
}

.content{
    height:1869px;
    background-color: #efefef;
}

.categories{
    height: 373px;
    border-bottom: 1px solid #EFEFEF;
}

.footer{
    height: 64px;
    background-color: #efefef;
}

.list-item{
    display: inline-block;
    vertical-align: top;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin: 0 30px;
    
}

.list-link{
    text-decoration: none;
    display: block;
    color: #333333;
}