*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    
}

.clearfix { 
    clear: both; 
}

.header{
    background-color: #efefef;
}

.menu-first{
    margin-left: 405px;
    padding-top: 17px;
    padding-bottom: 16px;
    width: 1110px;
}

.list{
    text-align: center;
}

.list-item{
    display: inline-block;
    vertical-align: top;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin: 0 30px;
}

.list-link{
    text-decoration: none;
    display: block;
    color: #333333;
}

.under-header{
    border-bottom: 1px solid #EFEFEF;
}

.under-header-in{
    margin-left: 405px;
    width: 1110px;
}

.logo{
    padding-top:20px;
    float:left;
}

.menu-second{
    margin-left: 405px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 1110px;
}

.list-second{
    text-align: center;
}

.list-item-second{
    display: inline-block;
    vertical-align: top;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin: 0 40px;
}

.list-link-second{
    text-decoration: none;
    display: block;
    color: #333333; 
}

.chair{
    background-color: #F13C6E;
    background-image: url("images/chair.png");
    background-repeat: no-repeat;
}

.in-chair{
    padding-top: 192px;
    padding-bottom: 50px;
    margin-left: 405px;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}

.in-chair-action{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    width: 308px;
    margin-left: 405px;
}

.detail{
    width: 170px;
    height: 40px;
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 40px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 12px;
    margin-top: 50px;
    display: inline-block;
    vertical-align: top;
    margin-left: 405px;
    margin-bottom: 176px;
}

.grey{
    background-color: #efefef;
    padding-bottom: 80px;
}

.special{
    width: 320px;
    font-size: 24px;
    line-height: 28px;
    margin-left: 405px;
    padding-top: 80px;
    padding-bottom: 38px;
}

.border{
    margin-left: 405px;
}

.recent{
    width: 320px;
    height: 29px;
    font-size: 24px;
    line-height: 28px;
    margin-left: 405px;
    padding-top: 80px;
    padding-bottom: 38px;
}

.border-recent{
    width: 1140px;
    margin-left: 405px;
    padding-top: 38px;
}

.card{
    background-color: #FFFFFF;
    display: inline-block;
    vertical-align: top;
    width: 255px;
    margin-right: 30px;
    padding-bottom: 25px;
}

.image{
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 65px;
    width: 125px;
    
}

.description{
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    width: 195px;
}

.price{
    width: 80px;
    height: 19px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.button-buy{
    margin-left: 62px;
    width: 130px;
    height: 35px;
    background: #F13C6E;
    border-radius: 30px;
    border:none;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    padding-top: 9px;
}

.border-bonus{
    width: 1140px;
    margin-left: 405px;
    padding-top: 100px;
}

.bonus{
    background-color: #F13C6E;
    width: 540px;
    padding-left: 40px;
    padding-right: 45px;
    height: 212px;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.bonus-header{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top:35px;
    }

.bonus-content{
    width: 231px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 25px;
    width: 231px;
}

.mail{
    width: 225px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 30px;
    margin-top: 20px;
    border: none;
    box-sizing: border-box;
    text-align: left;
    padding: 0px 0px 0px 25px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.mail-image{
    width: 150px;
   
    float:right;
    margin-top: 53px;
}

.text{
    float:left;
}

.bonus-text{
    width: 250px;
    float: left;
}

.bonus-image{
    width: 150px;
    float:right;
}

.map{
    background-color: #F13C6E;
    width: 540px;
    padding-left: 40px;
    padding-right: 45px;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.map-text{
    width: 250px;
    float: left;
    margin-bottom: 31px;
}

.map-header{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top:35px;
    
}

.map-content{
    width: 160px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 25px; 
}

.map-button{
    width: 170px;
    height: 35px;
    margin-top: 25px;
    color:#FFFFFF;
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display:inline-block;
    vertical-align: top;
    text-decoration: none;
    text-align: center;
    padding-top: 9px;
}
.map-image{ 
    width: 150px;
    float:right;
    margin-right: 45px;
}

.map-truck{
    width: 150px;
    float:right;
    margin-top: 53px;
}

.impuls-grid{
    background-color: #FFFFFF;
    margin-left: 405px;
    margin-top: 100px;
    width: 1112px;
}

.impuls-cell{
 width: 278px;
 float:left;
 padding-left: 60px;
 padding-top:35px;
 padding-bottom:35px;
 border: 1px solid #EFEFEF;
}

.categories{
    width:1300px;
    margin-left: 405px;
}

.popular{
    margin-top: 60px;
}

.categories-list{
    border-top: 1px solid #EFEFEF;
}

.categories-card{
    width: 255px;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.categories-header{
    width: 99px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;
    margin-bottom: 30px;
    
}

.categories-menu{
    font-weight: normal;
    font-size: 12px;
    line-height: 28px;
    margin-top: 25px;
    color: #828282;
}

.item-link{
    text-decoration: none;
    color: #828282;
}

.social{
    border-top: 1px solid #EFEFEF;
    margin-top: 60px;
    width: 1100px;
    margin-left: 405px;
}

.icons{
    float:left;
    margin-top: 37px;
}

.icon{
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
}

.callback{
    float:right;
    width: 374px;
    height: 120px;
}

.number{
    float:left;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #000000;
    padding-top: 50px;
}

.callback-button{
    background: #FFFFFF;
    border: 2px solid #F13C6E;
    box-sizing: border-box;
    border-radius: 40px;
    width: 170px;
    height: 40px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color:#000000;
    text-decoration: none;
    padding-top: 12px;
    margin-top: 40px;
    float:right; 
}

.footer{
    background-color: #efefef;
}

.footer-in{
    width:1110px;
    margin-left: 405px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.rights{
    float:left;
    width: 584px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}

.confidential{
    float:right;
    width: 181px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}

.list{
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

