*{
    box-sizing: border-box;
}

body{
    background-color: #efefef;
}

.border{
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    width: 100%;
    background-color:#ffffff;
    display: table;
}

.menu ul {
	display: table-row;
}
.menu li {
	display: table-cell;
}

.menu li a {
	display: block;
	padding: 8px 15px;
	text-align: center;
    text-decoration: none; 
    color:black;
}




.chair{
    height:604px;
    background-color: #f13c6e;
}

.recent{
    height:493px;
    background-color: #ffffff;
}
.footer{
    height:64px;
    
}