*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.clearfix { 
    clear: both; 
}


.header{
    height:50px;
    background-color: #efefef;
}

.menu-first{
   
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 17px;
    padding-bottom: 16px;
}

.grey{
    height: 1869px;
    background-color: #efefef;
}





.under-header{
    height:120px;
    border-bottom: 1px solid #EFEFEF;
}



.chair{
    height: 604px;
    background-color: #F13C6E;
    background-image: url("images/chair.png");
}

.content{
    height:1869px;
    background-color: #efefef;
    
}

.categories{
    height: 373px;
    border-bottom: 1px solid #EFEFEF;
}

.footer{
    height: 64px;
    background-color: #efefef;
}

.detail{
    margin-top:50px;
    margin-left: 406px;
    width: 170px;
    height: 40px;
    background: #F13C6E;
    color:white;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 40px;
}

.under-header-in{
    margin-left: auto;
    margin-right: auto;
    width: 1110px;
}
.logo{
    padding-top:20px;
    float:left;
}

.callback{
    float:right;
    width: 374px;
    height: 120px;
}

.button1{
        margin-top: 40px;
        float:right;
        width: 170px;
        height: 40px;
        background: #FFFFFF;
        border: 2px solid #F13C6E;
        box-sizing: border-box;
        text-decoration: none;
        text-align: center;
        border-radius: 40px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        padding-top: 12px;
}


.number{
    float:left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #000000;
    padding-top: 50px;
}
.list{
 
    text-align: center;
}
.list-item{
    display: inline-block;
    vertical-align: top;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin: 0 30px;
    
}

.list-link{
    text-decoration: none;
    display: block;
    color: #333333;
    
}



.menu-second{
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 30px;
    padding-bottom: 30px;

}

.list-second{
    text-align: center;
}

.list-item-second{
    display: inline-block;
    vertical-align: top;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin: 0 40px;
}

.list-link-second{
    text-decoration: none;
    display: block;
    color: #333333;
    
}

.in-chair{
    padding-top: 192px;
    padding-bottom: 50px;
    margin-left: 405px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}

.in-chair-action{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    width: 308px;
    margin-left: 405px;
}


.list{
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.item{
    
    width: 255px;
    height: 363px;
    background-color: white;
}

.border{
    width: 1140px;
    height: 363px;
    margin-left: 405px;
    padding-top: 38px;
    
}

.card{
    background-color: white;
    display: inline-block;
    vertical-align: top;
    width: 255px;
    height: 363px;
    margin-right: 30px;
}

.image{

    
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 65px;
    width: 125;
    height: 166;
}

.description{
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    width: 195px;

    
}

.price{
    width: 80px;
    height: 19px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 40px;
}


.button2{
    margin-left: 62px;
    width: 130px;
    height: 35px;
    background: #F13C6E;
    border-radius: 30px;
    border:none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    
}


.special{
    width: 320px;
    height: 29px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-left: 405px;
    padding-top: 80px;
    padding-bottom: 38px;

}


.border-2{
    width: 1140px;
    height: 363px;
    margin-left: 405px;
    padding-top: 100px;
    
}

.bonus{
    background-color: #F13C6E;
    display: inline-block;
    vertical-align: top;
    width: 540px;
    height: 212px;
    margin-right: 30px;
}

.stores{
    background-color: #F13C6E;
    display: inline-block;
    vertical-align: top;
    width: 540px;
    height: 212px;
}